.orange{
    color: #ea0;
}

header, footer {
    /* largeur en % du conteneur */
    width: 100%;
    /* mise en place marge interieur */
    /* couleur de fond avec degradé */
    background : linear-gradient(to bottom, #fdfdfdab, #e9ecee);
    /* ajout d'une ombre : decale horizontale, decalage vertical, rayon du flou, couleur */
    box-shadow: 0px 0px 15px rgb(230, 223, 223);
}

header{
    /* ajout d'une bordure en bas */
    border-bottom: 2px solid #fff;
    /* hauteur du header */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


header .titre h1{
    text-align: center;
    /* couleur police */
    color: #0a2beb;
    /* taille police */
    font-size: 1.5em;
    /* mise en place des marges */
    margin: 0 auto;
    padding-top: 0.8em;
}

footer{
    text-align: center;
    /* ajout d'une bordure haut à l'element */
    border-top: 2px solid #fff;
}

footer h3{
    margin: 0 auto;
    padding-bottom: 0.2em;
}